@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* font styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* discount styles */
.discount-slides{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "one three three"
    "two three three";
    gap: 28px;
}
.discount-1{
    grid-area: one;
    padding: 65px 50px;
}
.discount-2{
    grid-area: two;
    padding: 65px 50px;
}
.discount-3{
    grid-area: three;
    padding: 65px 50px;
    
}
@media screen and (max-width: 576px) {
    .hide{
    display: none;
    }
    .logo img{
        width: 70%;
    }
    /* first */
    .first{
        flex-direction: column-reverse;
        align-items: start;
        margin-left: 20px;
    }
    .first-title{
        width: 90%;
        margin-top: 20px;
        gap: 10px;
    }
    .first-title h1{
        font-size: 24px;
        font-weight: bolder;
        text-align: start;
        
    }
    .first-title p{
        font-size: 14px;
        text-align: start;
        
    }
    /* second */
    .slides{
        
        grid-template-columns: repeat(2, 1fr);
    }
    
    .second-title{
        margin-top: 20px;
        gap: 10px;
    }
    .second-title h1{
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
        
    }
    .second-title p{
        font-size: 14px;
        text-align: center;
        width: 90%;
        
    }
    /* third */
    .third{
        flex-direction: column;
       
        gap: 30px;
    }
    .third-img{
        width: 97%;
    }
    .third-content{
        width: 100%;
        margin-left: 20px;
        
    }
    #trusted{
        display: none;
    }
    .third-content ul{
        width: 90%;
        margin-left: 20px;
    }
    .third-content li{
        font-size: 18px;
    }
    /* discount */
    .discount-slides{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .discount-3 h3{
        font-size: 20px;
    }
}